<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="mybatis.emp.mapper.EmpMapper">
    
    <!-- 직원 정보를 조회하는 쿼리
         1명의 정보/ 전체 조회여부를 if 로 분기하는 동적쿼리 -->
    
    <select id="select" parameterType="Emp" resultType="Emp">
        SELECT e.empno
             , e.ename
             , e.job
             , e.mgr
             , e.hiredate
             , e.sal
             , e.comm
             , e.deptno
          FROM emp e
          <if test="empno != 0" > <!-- empno의 멤버변수 java의 조건식이다. -->
          WHERE e.empno = #{empno}
          </if>
          ORDER BY e.ename
    </select>
    
    <select id="selectByName" parameterType="string" resultType="Emp">
        SELECT e.empno
		     , e.ename
		     , e.job
		     , e.mgr
		     , e.hiredate
		     , e.sal
		     , e.comm
		     , e.deptno
		     FROM emp e
        <if test="value != null"> <!-- mybatis의 특별한 변수 필드가 없는 입력값에서 기본형&String의 경우 쓸 수 있음 -->
         WHERE e.ename Like '%' || #{value} || '%'
        </if>
        ORDER By e.ename
    </select>
       
    
    
    <!-- emp 테이블에서 사번으로 1명의 정보 조회 -->
    <select id="selectEmp" parameterType="int" resultType="map">
        SELECT e.empno
             , e.ename
             , e.job
             , e.hiredate
             , e.sal
             , e.comm
             , e.deptno
          FROM emp e
         WHERE e.empno = #{value}
         <!-- #{value} 는 prepared 에서 ? 와 같은 역할 -->
         <!-- 쿼리 실행시 전달 값이 1개 이며 -->
         <!-- 기본형 값/ String 값 일 때만 사용가능한 -->
         <!-- mybatis 프레임워크 자체 변수 -->
    </select>
    
    <!-- Emp 테이블에 직원 정보 1건 입력 -->
    <insert id="insert" parameterType="map">
        INSERT INTO EMP e
          ( e.empno
          , e.ename
          , e.hiredate
          , e.job
           )
        VALUES
          ( #{empno}
          , #{ename}
          , sysdate
          , #{job}
         )
    </insert>
    
    <update id="update" parameterType="map">
    <!-- 직원 정보 1건을 수정하는 쿼리 -->
        UPDATE EMP e
		   SET e.ename = #{ENAME}
		     , e.job = #{JOB}
		     , e.mgr = #{MGR}
		     , e.hiredate = #{HIREDATE}
		     , e.sal = #{SAL}
		     , e.comm = #{COMM}
		     , e.deptno = #{DEPTNO}
		 WHERE e.empno = #{EMPNO}
    </update>
    
    <!-- EMP 테이블의 직원 정보 1건을 삭제하는 쿼리 -->
    <delete id="delete" parameterType="int">
        DELETE EMP e
         WHERE e.empno = #{value}
    </delete>
    
    <!--윗쪽: Map 으로 프로퍼티 설정하는 쿼리 -->
    
    <!-- 아래: Emp 클래스로 프로퍼티 설정하는 쿼리 -->
    
    
    <!-- mybatis-config.xml 파일에 typeAlias 등록 필요함 -->
	<select id="selectAll2" resultType="Emp">
		SELECT e.empno
		, e.ename
		, e.job
		, e.hiredate
		, e.sal
		, e.comm
		, e.deptno
		FROM emp e
	</select>

	<select id="selectEmp2" resultType="Emp" parameterType="Emp">
		SELECT e.empno
		, e.ename
		, e.job
		, e.hiredate
		, e.sal
		, e.comm
		, e.deptno
		FROM emp e
		WHERE e.empno = #{empno}
	</select>
    
    <insert id="insert2" parameterType="Emp">
	INSERT INTO EMP e
	( e.empno
	, e.ename
	, e.hiredate
	, e.job
	)
	VALUES
	( #{empno}
	, #{ename}
	, sysdate
	, #{job}
	)
</insert>

	<update id="update2" parameterType="Emp">
		UPDATE EMP e
		 <set>
		   <if test="ename != null">
		     e.ename = #{ename}
		   </if>
		   <if test="job != null">
		     , e.job = #{job}
		   </if>
		   <if test="mgr != null">
		     , e.mgr = #{mgr}
		   </if>
		   <if test="hiredate != null">
		     , e.hiredate = TO_DATE(#{hiredate}, 'YYYY-MM-DD HH24:MI:SS') 
		   </if>
		   <if test="sal > 0">
		     , e.sal = #{sal}
		   </if>
		   <if test="comm > 0">
		     , e.comm = #{comm}
		   </if>
		   <if test="deptno =! 0">
		     , e.deptno = #{deptno}
		   </if>
		 </set>
		 <trim prefix="SET" prefixOverrides="," />
		 WHERE e.empno = #{empno}
	</update>
    
    <!-- 사번:empno 가 0으로 입력되는 경우는 전체삭제로 작동
         사번:empno 가 0이 아닌 값이 입력되는 경우는
              한 건 삭제로 작동하는 동적 쿼리 -->
	<delete id="delete2" parameterType="Emp">
		DELETE EMP e
		<if test="empno != 0">
		  WHERE e.empno = #{empno}
		</if>
	</delete>    
    
   
    
    
    
    
    
    
    
    
    
</mapper>