<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="mybatis.emp.mapper.EmpMapper">
    <select id="selectAll" resultType="map">
        SELECT e.empno
             , e.ename
             , e.job
             , e.hiredate
             , e.sal
             , e.comm
             , e.deptno
          FROM emp e
    </select>
    <!-- emp 테이블에서 사번으로 1명의 정보 조회 -->
    <select id="selectEmp" parameterType="int" resultType="map">
        SELECT e.empno "사원"
             , e.ename "이름"
             , e.job
             , e.hiredate
             , e.sal
             , e.comm
             , e.deptno
          FROM emp e
         WHERE e.empno = #{value}
         <!-- #{value} 는 prepared 에서 ? 와 같은 역할 -->
         <!-- 쿼리 실행시 전달 값이 1개 이며 -->
         <!-- 기본형 값/ String 값 일 때만 사용가능한 -->
         <!-- mybatis 프레임워크 자체 변수 -->
    </select>
    
    <!-- Emp 테이블에 직원 정보 1건 입력 -->
    <insert id="insert" parameterType="map">
        INSERT INTO EMP e
          ( e.empno
          , e.ename
          , e.hiredate
          , e.job
           )
        VALUES
          ( #{empno}
          , #{ename}
          , sysdate
          , #{job}
         )
    </insert>
    
</mapper>